<h1>About</h1>

<h2>Overview</h2>
<p>
    This app keeps track of how many times people comment 'F' on a post to the
    <a href="https://old.reddit.com/r/memes/">r/memes</a> subreddit.
    Commenting 'F' on a post is a sign of (ironic) respect on Reddit.
    <a href="https://knowyourmeme.com/memes/press-f-to-pay-respects">Learn more...</a>
</p>

<h2>Why is this page so ugly?</h2>
<p>
    This page has very minimal styling rules applied to it on purpose because:
    <ul>
	<li>I want it to render well on terminal-based browsers</li>
	<li>I want it to load as fast as possible</li>
	<li>I'm too lazy to bother with CSS</li>
    </ul>
</p>

<h2>Disclaimer</h2>
<p>
    The posts this app scrapes from Reddit do not reflect my views or values. Some posts
    catalogued may be inappropriate or offensive. If you find a post that you think
    shouldn't be displayed on this site, don't hesitate to contact me at
    xxarcajethxx@gmail.com and I'll remove it.
</p>

<h2>GitLab Repo</h2>
<p>
    You can find the source code for this project and contribute to it at its
    <a href="https://gitlab.com/Bleu-Box/respect-counter">GitLab repository</a>.
</p>
