<h1>List of Respects</h1>

<p>These are the top 20 most-respected posts from r/memes, as of November 2018:</p>

<ol>
    <% rows.each do |row| %>
	<li>
	    <a href=<%= row[:permalink] %>><%= row[:title] %></a> -
	    <%= row[:respects] %> <%= row[:respects] == 1? "respect" : "respects" %>
	</li>
    <% end %>
</ol>
