<!DOCTYPE html>
<html style="height:100%">
    <head>
	<title>F to Pay Respects</title>
    </head>
    <body style="display:flex; flex-direction:column; min-height:100%">
	<div style="flex:1; padding:20px">
	    <%= yield %>
	</div>

	<footer style="padding:20px">
	    <a href="/">Home</a> * 
	    <a href="/about">About</a> *
	    <a href="https://gitlab.com/Bleu-Box/respect-counter">GitLab</a>
	</footer>
    </body>
</html>
